.Header {
    font-weight: bold;
    background-color:lightskyblue;
    width: 100%;
    text-align: center;
    font-size: 34px;
    color: white;
    font-family: 'Teko', sans-serif;
}

.logo {
    height: 100px;
    width: 150px;
}